*{
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: linear-gradient(to left,azure,darkgray)
}

.banner-text{
  width: 100%;
  position: absolute;
}

.banner-text ul{
  height: 50px;
  float: right;
  }

.banner-text ul li{
  display: inline-block;
  padding: 40px 15px;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
}

.banner-text ul li a:link{
  color:black;
  text-decoration: none;
  font-weight: bold;

}

.banner-text ul li a:visited{
  color:red;
  text-decoration: none;
  font-weight: bold;

}

.banner-text h2{
  text-align: center;
  color: #000;
  font-size: 40px;
  margin-top: 20%;
  float: center;
}

.banner-text h3{
  text-align: center;
  color: #000;
  font-size: 14px;
  margin-top: 25%;
  padding left: 10px;
  float: left;
}

.banner-text h4{
  text-align: left;
  color: #000;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 20%;
  float: left;
}
